html, body{
    height: 100%;
    width: 100%;
    max-width: 1400px;
}
body{
    background-image: url("https://vignette.wikia.nocookie.net/starwars/images/c/cc/Star-wars-logo-new-tall.jpg/revision/latest?cb=20190313021755");

}

#header {
    color: yellow;
}

#container{
    border: 1px solid yellow;
    color: yellow;
    padding: 1em;
    margin-left: 5%;
    margin-top: 5%;
}


#image{
    height: 500px;
    width: 500px;
    text-overflow: auto;
    object-fit:scale-down;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}